<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>434342727264-rtbq6gdmcgml8bs0tl6cubkkktr1fo0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434342727264-rtbq6gdmcgml8bs0tl6cubkkktr1fo0j</string>
	<key>API_KEY</key>
	<string>AIzaSyB047yWF8es2sMroUtvunmlgk3PwjRJfLw</string>
	<key>GCM_SENDER_ID</key>
	<string>434342727264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUN3DLE_ID</key>
	<string>com.yourcompany.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434342727264:ios:43697402bbc8f441</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-1.firebaseio.com</string>
</dict>
</plist>